<app-nav-bar></app-nav-bar>
<app-side-bar class="fixed hidden lg:block" [ngClass]="{'hidden':showSideC==false, 'block': showSideC==true}"></app-side-bar>

<section class="px-5 pt-24 gap-7 flex-col lg:ml-56 containerListGames">
    <app-games-card-container></app-games-card-container>
    <app-games-card-container></app-games-card-container>
    <app-games-card-container></app-games-card-container>
    <app-games-card-container></app-games-card-container>
    <app-games-card-container></app-games-card-container>
    <app-games-card-container></app-games-card-container>
    <app-games-card-container></app-games-card-container>
    <app-games-card-container></app-games-card-container>
</section>
