<div class="p-5">
    <ng-container *ngIf="gameDetails != null">

        <section class="max-w-6xl mx-auto mt-5 flex flex-col items-center md:flex-row ">
            <div class="flex flex-col gap-3">
                <img [src]="gameDetails.thumbnail">
                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded w-full flex items-center gap-5 justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                    <span>Añadir a favoritos</span>
                </button>
            </div>
            <div class="py-5 flex flex-col gap-2 items-center w-full md:items-start md:ml-10">
                <h1 class="text-white text-3xl font-extrabold">{{gameDetails.title}}</h1>
                <a [href]="gameDetails.game_url" target="_blank" class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-black dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Link del juego</a>
            </div>
        </section>
        <section class="max-w-6xl mx-auto mt-7">
            <div>
                <h3 class="text-gray-300 font-semibold text-2xl pb-3">Descripción</h3>
                <p class="text-justify text-gray-400">{{gameDetails.description}}</p>
            </div>
            <div class="my-7">
                <h3 class="text-gray-300 font-semibold text-2xl pb-3">Información adicional</h3>
                <div class="info-aditional">
                    <div class="flex flex-col gap-3">
                        <div>
                            <p class="text-gray-500">Title</p>
                            <p class="text-gray-400 font-medium text-p">{{gameDetails.title}}</p>
                        </div>
                        <div>
                            <p class="text-gray-500">Release Date</p>
                            <p class="text-gray-400 font-medium text-p">{{gameDetails.release_date}}</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <div>
                            <p class="text-gray-500">Developer</p>
                            <p class="text-gray-400 font-medium text-p">{{gameDetails.developer}}</p>
                        </div>
                        <div>
                            <p class="text-gray-500">Genre</p>
                            <p class="text-gray-400 font-medium text-p">{{gameDetails.genre}}</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <div>
                            <p class="text-gray-500">Publisher</p>
                            <p class="text-gray-400 font-medium text-p">{{gameDetails.publisher}}</p>
                        </div>
                        <div>
                            <p class="text-gray-500">Platform</p>
                            <p class="text-gray-400 font-medium text-p">{{gameDetails.platform}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-gray-300 font-semibold text-2xl pb-3">Screenshots</h3>
                <div class="content-screen">
                    <img *ngFor="let screenshot of gameDetails.screenshots" [src]="screenshot.image" class="w-80">
                </div>
            </div>
            <div class="my-7" *ngIf="gameDetails.platform != 'Web Browser'">
                <h3 class="text-gray-300 font-semibold text-2xl pb-3">Requerimientos mínimos del sistema</h3>
                <div class="info-aditional">
                    <div>
                        <p class="text-gray-500">OS</p>
                        <p class="text-gray-400 font-medium text-p">{{gameDetails.minimum_system_requirements.os}}</p>
                    </div>
                    <div>
                        <p class="text-gray-500">Memoria</p>
                        <p class="text-gray-400 font-medium text-p">{{gameDetails.minimum_system_requirements.memory}}</p>
                    </div>
                    <div>
                        <p class="text-gray-500">Procesador</p>
                        <p class="text-gray-400 font-medium text-p">{{gameDetails.minimum_system_requirements.processor}}</p>
                    </div>
                    <div>
                        <p class="text-gray-500">Gráficos</p>
                        <p class="text-gray-400 font-medium text-p">{{gameDetails.minimum_system_requirements.graphics}}</p>
                    </div>
                    <div>
                        <p class="text-gray-500">Storage</p>
                        <p class="text-gray-400 font-medium text-p">{{gameDetails.minimum_system_requirements.storage}}</p>
                    </div>
                </div>
            </div>
        </section>

    </ng-container>
</div>
