<div class=" h-screen flex" >
    <div class=" h-screen w-48 bg-slate-800 border-r-2 border-slate-700 scr">
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
        <p>Lorem ipsum dolor</p>
    </div>
    <div class="pt-5 px-3 lg:hidden">
        <button (click)="onHideSideBar()">
            <img src="../../../assets/icons/close.png" class="h-4 imgClose">
        </button>
    </div>
</div>
