
.card-container-games{
    background-color: rgb(14, 23, 46);
    transition: background-color .3s;
}

.card-container-games:hover{
    background-color: rgb(25, 41, 85);
}

.btnAddGame{
    transition: transform .3s;
}

.btnAddGame:hover{
    transform: scale(1.4);
}

@media (min-width: 768px) {
    .card-container-games {
        width: 280px
    }
}

