
.card-container-games{
    background-color: rgb(14, 23, 46);
    transition: background-color .3s;
}

.card-container-games:hover{
    background-color: rgb(25, 41, 85);
}

.titleCont{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 182px;
}

.descriptionCont{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Establece el número máximo de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnAddGame{
    transition: transform .3s;
}

.btnAddGame:hover{
    transform: scale(1.4);
}

@media (min-width: 768px) {
    .card-container-games {
        width: 280px
    }
}

