<section class="flex flex-col gap-20 p-5 pt-10">
    <h1 class="text-white font-bold text-3xl text-center">Lista de juegos favoritos</h1>
    <div class="flex flex-col items-center gap-5">
        <div class="bg-gray-700 p-2 max-w-4xl w-full flex gap-2" *ngFor="let game of favoriteGames; let i = index">
            <img [src]="game.thumbnail" class="w-48">
            <div class=" w-full flex flex-col gap-3">
                <div class="">
                    <p class="text-white font-semibold">{{game.title}}</p>
                    <p class="text-gray-400 font-medium">{{game.genre}}</p>
                </div>
                <button class="bg-transparent hover:bg-blue-500 text-gray-300 font-semibold hover:text-white py-1 px-4 border border-blue-500 hover:border-transparent rounded" (click)="deleteElement(i)">
                    Borrar
                </button>
            </div>
        </div>
    </div>
</section>
